/* General Style */

.input-container {
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: var(--detail1);
    border-radius: 60px;
    padding: 5px;
    width: calc(100% - 0px);
    box-sizing: border-box;
}

/* Input Style */

.custom-input {
    background-color: var(--detail1);
    color: var(--font-primary);
    text-align: center;
    border: 1px solid var(--font-primary) !important;
    border-radius: 50px;
    box-sizing: border-box;

    padding: 12px;
    width: 100%;
}

.custom-input:focus {
    outline: none;
}

/* FLoat Label Style */

.custom-label {
    color: var(--font-primary);
    left: 0.75rem;
    transition-duration: 0.2s;
}

.custom-floatlabel:has(input:focus) .custom-label, .custom-floatlabel:has(input.p-filled) .custom-label, .custom-floatlabel:has(input:-webkit-autofill) .custom-label, .custom-floatlabel:has(textarea:focus) .custom-label, .custom-floatlabel:has(textarea.p-filled) .custom-label, .custom-floatlabel:has(.p-inputwrapper-focus) .custom-label, .custom-floatlabel:has(.p-inputwrapper-filled) .custom-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}