/* General Style */

.navbar-container {
    background-color: var(--main);
    border-radius: 60px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

.navbar-inner-container {
    border: 1px solid var(--font-primary);
    border-radius: 60px;
    width: 100%;
}

.navbar-image-container {
    margin-left: 30px;
}

#logoIcon {
    width: 52px;
    height: 52px;
}