.history-main-container {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 60px;
    background-color: none;
    scrollbar-color: var(--detail3) var(--detail1);
}

.history-right-alternative-container {
    padding-right: 15px;
}

.status-message {
    color: #E7DFC6;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}

.status-message.error {
    color: #e57373;
}